<!-- Nav bar -->
<nav class="navbar navbar-fixed-top" role="navigation">

    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="#page-top">
                <img src="{{ site.url }}/images/southgate-splash-home.jpg" class="img-responsive">
            </a>
        </div>


        <div id="navbar-test" class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav" role="tablist">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#top">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="mailto:info@southgate-splash.com">Contact</a>
                </li>

            </ul>
        </div>
    </div>

</nav>

<hr/>
